.box {
    grid-area: box;
    color: rgb(99, 99, 99);
    width: 400px;
    margin-top: 150px;
    margin-left: -100px;
    padding: 20px;
}

.box a {
    color: #2ec4b6;
}


.box button {
    cursor: pointer;
    background-color: #2ec4b6;
    color: white;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 22px;
    border: none;
    border-radius: 5px;
}

.box button:hover {
    background-color: #2ec4b6d7;
}

.box button svg {
    vertical-align: middle;
    font-size: 20px;
    margin-right: 10px;

}

.box .conjunto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.box .conjunto .item {
    display: inline-flex;
    min-width: 350px;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px;
}

.box .conjunto .item .foto {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: rgb(165, 165, 165);
    color: rgb(85, 85, 85);
    text-align: right;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.box .conjunto .item img {
    width: 100px;
    height: 100px;
}

.box .conjunto .item .grupo {
    display: inline-flex;
    flex-direction: row;
    margin-right: 50px;
}

.box .conjunto .item .grupo p {
    cursor: pointer;
    margin-left: 5px;
    height: 22px;
}

.box .conjunto .item .link {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    max-width: 90px;
}

.box .conjunto .item .link a {
    word-wrap: break-word;
}

.telahidden {
    display: none;
}

.telashow {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.349);
    width: 100vw;
    height: 100vh;
}

.telashow .popup {
    position: absolute;
    background-color: #2ec4b6;
    color: white;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px white solid;
    border-radius: 5px;
}

.telashow .popup h2 {
    margin-bottom: 10px;
}

.telashow .popup p {
    font-size: 20px;
    border-bottom: 1px white solid;
    padding-bottom: 10px;
}

.telashow .popup button {
    cursor: pointer;
    background-color: #35a197;
    color: white;
    padding: 8px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    border: 1px solid #35a197;
}

.telashow .popup button:nth-child(3) {
    background-color: transparent;
    border: 1px solid white;
}

.telashow .popup button:hover {
    border: 1px solid white;
}

.telashow .popup button:nth-child(3):hover {
    border: 1px solid #35a197;
}